@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project was to familarize myself with building an ASP.NET MVC app. Please use the Movie App 
        link in the upper left corner to view the Movie Database. Feel free to add movies if you like.
    </p>
</div>
